.mainModal{
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 340px;
  height: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 49px -24px rgba(0,0,0,0.60);
  -moz-box-shadow: 0px 0px 49px -24px rgba(0,0,0,0.60);
  box-shadow: 0px 0px 49px -24px rgba(0,0,0,0.60);
}

.mainModal form input{
  height: 35px;
  width: 300px;
  border-radius: 6px;
  border: solid 1px #B6B6B6;
  margin-left: 1.25em;
  margin-bottom: 0.6em;
  font-family: Roboto, sans-serif;
}

.mainModal form p{
  font-family: Roboto, sans-serif;
  display: flex;
  margin-bottom: 0.5em;
  margin-left: 1.56em;
  font-size: 13px;
}

.mainModal form button{
  background-color: #56D4C2;
  border: none;
  border-radius: 4px;
  width: 20em;
  height: 35px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-left: 6%;
  margin-top: 20px;
}

.headerModal{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #B6B6B6;
}
.headerModal span{
  margin-left: 222px;
}
.headerModal span:hover{
  cursor: pointer;
}

.headerModal h3{
  margin-left: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #555555;
}


.backgroundModal{
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}