@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.header{
  -webkit-box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.33);
  box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.33);
  height: 70px;
}

.ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.ul li:nth-child(1){
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-left: 20px;
  margin-top: -5px
}
.ul li:nth-child(2){
  float: left;
  margin-left: 95%;
  margin-top: -88px;
  font-size: 25px;
}
