.wrapper{
  width: 300px;
  height:160px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(111,207,252,0.35);
  -moz-box-shadow: 0px 0px 15px -1px rgba(111,207,252,0.35);
  box-shadow: 0px 0px 15px -1px rgba(111,207,252,0.35);
}

.wrapper p{
  font-family: 'Roboto', sans-serif;
  margin-left: 1.5em;
  font-weight: 300;
  color: #555555;
  margin-top: -10px;
}

.wrapper button{
  width: 100px;
  height: 27px;
  border-radius: 6px;
  border: none;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.buttons{
  margin-top: 25px;
  margin-left: 18%;
}

.cards{
  margin-top:4.2em;
  margin-left:3%;
}

.removeC{background-color:#EF3340;}
.completeC{background-color: #56D4C2;
}